.seccion_como_logramos{
    background-color: #02E1C3;
    padding: 50px 0 50px;
    position: relative;
    img{
        width: 100%;
        display: block;
        height: auto;
    }

    .cara{
        width: 130px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .vector_left{ 
        width:218px;
        height: 210px;
        position: absolute;
        left: 0;
        top: calc(50% + 70px);
        transform: translateY(-50%);
        z-index: 10;
        background-image: url('https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/logramos-vector-left.png');
    }
    .vector_right{
        width:235px;
        height: 157px;
        position: absolute;
        right: 0;
        top: calc(50% + 70px);
        transform: translateY(-50%);
        z-index: 10;
        background-image: url('https://9068661.fs1.hubspotusercontent-na1.net/hubfs/9068661/assets/img/logramos-vector-right.png');
    }
    h2{
        font-family: 'IBMPlexSans-Bold'; 
        color: #00287A;
        font-size: 24px;
        margin-bottom: 35px;
        text-align: center;
    }

    .lista_items{
        margin-bottom: 20px;
        article{
            margin-bottom: 25px;
            width: 100%;
        }
    }

    .subtitulo{
        width: 100%;
        text-align: center;
        font-size: 24px;
        color: #00287A;
        font-family: 'IBMPlexSans-BoldItalic'; 

        span{
            font-size: 32px;
            color: #00287A;
            line-height: 29px;
        }
    }
}

@media (max-width:574px){
    .seccion_como_logramos {
        h2{
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 45px;
        }

        .vector_left{
            background-repeat: no-repeat;
            background-size: cover;
            top: calc(50% + 78px);
            width: 122px;
            height: 116px;
        }

        .vector_right{
            background-repeat: no-repeat;
            background-size: cover;
            width: 122px;
            height: 96px;
            top: calc(30% + 29px);
        }

        .subtitulo{
            letter-spacing: -0.5px;
        }
    }
}